<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%- title %></title>
    <base href="<%- base %>" />
    <link href="jsonTree.css" rel="stylesheet" />
    <link href="index.css" rel="stylesheet" />
  </head>
  <body>
    <%- custom_top %>
    <p>last updated: <%- lastModifiedDate %></p>
    <table class="controlpanel">
      <tr>
        <td>
          <input type="checkbox" id="expand_collapse_all" />
          <label for="expand_collapse_all">expand/collapse all</label>
        </td>
      </tr>
      <tr>
        <td>
          <input type="checkbox" id="show_hidden" />
          <label for="show_hidden">show hidden modules</label>
        </td>
      </tr>
      <tr>
        <td>
          <button id="clear_selected_modules">Clear Selected Modules</button>
        </td>
      </tr>
      <tr>
        <td>
          <form id="search_form">
            <input type="text" id="search_form_textbox" placeholder=" Search for a module..." />
            <input type="submit" value="Go" />
          </form>
        </td>
      </tr>
    </table>
    <hr />
    <h4>Command to Load Selected Modules:</h4>
    <pre class="codeblock" id="module_load_command"></pre>
    <hr />
    <h4>Command Output:</h4>
    <pre class="codeblock" id="module_load_command_output"></pre>
    <div id="json-tree-wrapper">
      <hr />
      <h4>Modules</h4>
    </div>
    <div id="json-tree-wrapper-hidden" class="display_none">
      <hr />
      <h4>Hidden Modules</h4>
    </div>
    <hr />
    <%- custom_bottom %>
    <script>
      const json_data_orig = JSON.parse(<%- JSONDATA %>)
      const json_data_orig_hidden = JSON.parse(<%- JSONDATA_HIDDEN %>)
      const directory_prereqs = JSON.parse(<%- DIRECTORY_PREREQS %>)
    </script>
    <script src="jsonTree.js"></script>
    <script src="index.js"></script>
  </body>
</html>
