<link href="<%- root %>/jsonTree.css" rel="stylesheet" />
<script src="<%- root %>/jsonTree.js"></script>
<style>
    html * {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    }
    .display_none * {
        display: none;
    }
</style>
<h2><%- title %></h2>
<p style="width:700px">
    It's recommended that you read the <a href="https://docs.unity.rc.umass.edu/software/module-intro.html">Unity documentation on Environment Modules</a>.<br>
    Click the elements to expand/collapse each category.
    It's likely that you'll want to select the <code>x86_64</code> architecture.
    If you find a module but you're not sure how to load it, ask the Slack helpdesk.
</p>
<input type="checkbox" id="expand_collapse_all" />
<label for="expand_collapse_all">expand/collapse all</label>
<br>
<input type="checkbox" id="show_hidden" />
<label for="show_hidden">show hidden modules</label>
<div id="json-tree-wrapper">
    <h4> Modules </h4>
</div>
<div id="json-tree-wrapper-hidden" class="display_none">
    <h4> Hidden Modules </h4>
</div>
<script>
    const jsonData = JSON.parse(<%- JSONDATA %>);
    const jsonData_hidden = JSON.parse(<%- JSONDATA_HIDDEN %>);
    var wrapper = document.getElementById("json-tree-wrapper");
    var tree = jsonTree.create(jsonData, wrapper);
    var wrapper_hidden = document.getElementById("json-tree-wrapper-hidden");
    var tree_hidden = jsonTree.create(jsonData_hidden, wrapper_hidden);
    document.getElementById('expand_collapse_all').addEventListener('change', function() {
        if(!!this.checked){
            tree.expand();
            tree_hidden.expand();
        }else{
            tree.collapse();
            tree_hidden.collapse();
        }
    });
    document.getElementById('show_hidden').addEventListener('change', function() {
        hidden_modules_wrapper = document.getElementById("json-tree-wrapper-hidden");
        hidden_modules_wrapper.classList.toggle("display_none");
    });
</script>
