<link href="<%- root %>/jsonTree.css" rel="stylesheet" />
<style>
  html * {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
      "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol", "Noto Color Emoji";
  }

  .display_none * {
    display: none;
  }
</style>
<h2><%- title %></h2>
<p style="width: 700px">last updated <%- lastModifiedDate %></p>
<p style="width: 700px">
  For information on using modules, read the
  <a href="https://docs.unity.rc.umass.edu/documentation/software/modules">
    documentation on Environment Modules</a
  >.<br />
  Click the elements to expand/collapse each category. All nodes in the general partitions are
  x86_64 architecture and use that category of module. If you're having trouble navigating the
  module hierarchy, ask the
  <a href="https://unity.rc.umass.edu/community-slack">Slack helpdesk</a>.
</p>
<input type="checkbox" id="expand_collapse_all" />
<label for="expand_collapse_all">expand/collapse all</label>
<br />
<input type="checkbox" id="show_hidden" />
<label for="show_hidden">show hidden modules</label>
<form id="search_box">
  <input type="text" id="search_input" placeholder=" Search for a module..." />
  <input type="submit" value="Go" />
</form>
<br />
<div id="json-tree-wrapper">
  <h4>Modules</h4>
</div>
<div id="json-tree-wrapper-hidden" class="display_none">
  <h4>Hidden Modules</h4>
</div>

<script>
  json_data_orig = JSON.parse(<%- JSONDATA %>)
  json_data_orig_hidden = JSON.parse(<%- JSONDATA_HIDDEN %>)
</script>
<script src="<%- root %>/jsonTree.js"></script>
<script src="<%- root %>/module-explorer.js"></script>
